<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Now</title>
</head>
<body>
<h1 align="center"><a href="/">Home</a></h1>
<form action="http://localhost:5000/result.html" method="POST">
    <p align="center">Select a City <select name="city">
        <option value="melbourne">Melbourne</option>
        <option value="sydney">Sydney</option>
        <option value="brisbane">Brisbane</option>
        <option value="perth">Perth</option>
    </select></p>

    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>